# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Conda
.conda/
env/
*.conda
*.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Docker
docker-compose.override.yml
Dockerfile

# VSCode
.vscode/

# Log files
*.log

# Environment variables
.env

# Database files
*.sqlite3
*.db

# Secrets and credentials
*.env
